body {
  color: white;
}

footer {
  margin-top: 10rem;
}

.custom {
  font-size: 0.8rem;
}

.mw-mc {
  max-width: max-content;
}

.br-custom {
  border-radius: 3px;
}

.br-none {
  border-radius: 0;
}

.custom-width {
  width: 30%;
}

.bg-black {
  background-color: black;
  color: white;
}

.ls-custom {
  letter-spacing: 0.2rem;
}

#preview,
#next-episode {
}
